body { margin: 0; overflow: hidden; }
#top {}
h2 { text-align: center; margin: 0;}
.error-message { text-align: center; margin-top: 2em; }
footer { position: fixed; bottom: 0;}
svg.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

#top {
  background-color: black;
  color: #dbdbdb;
}
.icon-github { color: #888; }
.icon-twitter { color: #55acee; }
.icon-twitch { color: #6441A4; }
a:link, a:visited { color: #b6a242; }
a:hover, a:active { color: rgb(218, 216, 222); }

.boon-column,
.boon-column .nb.bh,
.boon-column .nb.bh > * {
  pointer-events: none;
}

.boon-column .focusable {
  pointer-events: auto;
}

.s.p .e.superImage {
  display: inline-block;
}

div .boonbacking {
  border-top-color: transparent; 
}

#top > * { animation: delay-appear 2s; }
canvas { animation: delay-appear 2s; }
@keyframes delay-appear {
  0% { opacity: 0; }
  30% { opacity: 0; }
  100% { opacity: 1; }
}
